{
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
    ],
    "parser": "babel-eslint",
    "env": {
        "jest": true
    },
    "globals": {
        "document": true
    },
    "rules": {
        "react/no-unused-state": 0,
        "react/destructuring-assignment": 0,
        "react/prop-types": 0,
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": [
            "error", {
                "optionalDependencies": false,
                "peerDependencies": false,
                "packageDir": "./"
            }
        ],
        "react/no-unescaped-entities": 0,
        "react/jsx-props-no-spreading": "off",
        "import/prefer-default-export": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js"
                ]
            }
        ]
    }
}
